footer
  .container.text-center
    p.pull-left © 2017 blupencil, Inc. All Rights Reserved.
    ul.pull-right.list-inline
      li
        a(href='https://github.com/esthersweon/blupencil') GitHub
      li
        a(href='https://github.com/esthersweon/blupencil/issues') Issues
