extends layout

block content
  .jumbotron
    h1 blue pencil
    p.lead One-stop shop for essay revision.
  hr
  .row
    if essays
      for essay in essays
        .col-sm-6
          include partials/essay
          if user.hasRole('editor')
            form.form-horizontal(id='take-essay-form', action=`/essays/${essay.id}?_method=PATCH`, method='POST')
              input.form-control(type='hidden', name='_editor', id='_editor', value=user.id)
              button.btn.btn-success(type='submit')
                i.fa.fa-user-plus
                | Take essay »